{% extends 'navbar.html.twig' %}

{% block title %}RHTracker{% endblock %}

{% block body %}
   <style>
.center_div{
    margin: 0 auto;
    width:50% ;/* value of your choice which suits your alignment */
    background:white;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}
</style>
<div class="container center_div">
							<div class="card-body">
								<div class="m-sm-4">
                                <center><u>
                                 <h3>Détails Employée</h3></u></center>
<br>
 


    <table class="table">
        <tbody>
          
            <tr>
                <th>Cin</th>
                <td>{{ employe.Cin }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employe.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employe.Prenom }}</td>
            </tr>
            <tr>
                <th>Cnss</th>
                <td>{{ employe.Cnss }}</td>
            </tr>
            <tr>
                <th>SituationFam</th>
                <td>{{ employe.SituationFam }}</td>
            </tr>
            <tr>
                <th>NombreEnfant</th>
                <td>{{ employe.NombreEnfant }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employe.Email }}</td>
            </tr>
            <tr>
                <th>Tele</th>
                <td>{{ employe.tele }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ employe.Adresse }}</td>
            </tr>
            <tr>
                <th>Photos</th>
                <td>{{ employe.Photos }}</td>
            </tr>
            <tr>
                <th>DateNaiss</th>
                <td>{{ employe.DateNaiss ? employe.DateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateEntree</th>
                <td>{{ employe.DateEntree ? employe.DateEntree|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateSortie</th>
                <td>{{ employe.dateSortie ? employe.dateSortie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>StatueTravaille</th>
                <td>{{ employe.StatueTravaille ? 'Retraiter' : 'en cours de travaille' }}</td>
            </tr>
            <tr>
                <th>Echelle</th>
                <td>{{ employe.Echelle }}</td>
            </tr>
            <tr>
                <th>Echellon</th>
                <td>{{ employe.Echellon }}</td>
            </tr>
        </tbody>
    </table>


<div class="card-body text-center">
									<div class="mb-3">
    <a href="{{ path('app_employe_edit', {'id': employe.id}) }}" class="btn btn-warning">Modifier</a>
<br><br>
    {{ include('employe/_delete_form.html.twig') }}
    </div></div>
    </div>
    </div></div>
{% endblock %}
